
@{
    ViewBag.Title = "Press";
}
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/index">Home</a></li>


        </ul>
        <ul style="float:right">
            <li><a href="javascript:void(0)">Press News</a></li>


        </ul>
    </div>
</div>
<div class="container margin_60_35">
    <div class="row">
        <div class="col-md-12">
            <p>Medzoid provides round the clock healthcare services also through its informative blogs, press release, videos, health related updates and lots more. These blogs and releases are based on the latest feeds from the top healthcare or medical professionals, aiding all to have a better understanding towards wellness. Covering a wide range of topics from physical to mental health, tips- that will help in your day to day life, including those that are regarded as taboo in our world. Loaded with wellness tips our news page for sure will inspire you towards a healthy lifestyle.</p>
        </div>
    </div>
</div>






