
@{
    ViewBag.Title = "Register Doctor";
}

@section aftercss {

    <link href="~/css/chosen.min.css" rel="stylesheet" />
    <style>
        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1040;
            background-color: #000;
        }
    </style>
}

@section afterjs{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            LoadDepartment();

            //var deptId = getParameterByName('deptId');
            //$('#hidden_dep_id').val(deptId);

            $("#btnsubmit").click(function () {

                $.ajax({
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: "http://localhost:50310/api/DoctorDetails",
                    headers: { 'Content-type': 'application/x-www-form-urlencoded' },
                    data: {
                        name: $("#name").val(), email: $("#email").val(), mobile: $('#mobile').val(), address: $("#Address").val() + "$" + $("#area").val(), password: $("#password").val(),
                        deptId: $("#hfSeleted").val(), AboutUs: $("#AboutUs").val(), Fee: $("#fee").val(), experience: $("#experience").val(), Membership: $("#Membership").val(),
                        HospitalAffiliation: $("#HospitalAffiliation").val(), mci_no: $("#mci_no").val(), OnlineAppointment: $("#ddlOnlineAppointment").val()
                    },
                    success: function (data) {
                        if (data.Status == true) {
                            $("#kt_datetimepicker_modal").modal();
                            $("#hdUid").val(data.id);
                            $(':input', '#formRegister').not(':button, :submit, :reset, :hidden').val('').prop('checked', false).prop('selected', false);
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText)
                    }
                });
            });


            $("#password").keyup(function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    document.getElementById("btnsubmit").click();
                }
            });


            $('#kt_select2_3').on('change', function (e) {
                var data = $("#kt_select2_3").chosen().val();
                var selectedvalue = "";
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        selectedvalue += data[i] + ",";
                    }
                }

                $('#hfSeleted').val(selectedvalue.replace(/,\s*$/, ""));
            });

            $('#btnVerifyOTP').click(function () {

                var model = new Object();
                model.otp = $('#txtOTP').val();
                model.Id = $('#hdUid').val();
                model.usedrefcode = $('#txtRefCode').val();

                $.ajax({
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: "/VerifyOTP",
                    data: '{ model: ' + JSON.stringify(model) + '}',
                    success: function (data) {
                        if (data.Success == true) {
                            alert("Registered Successfully");
                            location.href = "/Login";
                        }
                        else {
                            alert("Invalid OTP")
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText)
                    }
                });
            });

            function LoadDepartment() {

                $.get("https://api.medzoid.com/api/Department", function (data, status) {

                    $("#kt_select2_3 optgroup").empty();
                    for (var i = 0; i < data.Data.length; i++) {
                        $("#kt_select2_3 optgroup").append('<option value="' + data.Data[i].id + '">' + data.Data[i].name + '</option>');
                    }
                    $("#kt_select2_3").chosen();
                    $("#kt_select2_3").trigger("chosen:updated");

                });
            }

            $('#Address').keyup(function () {
                var address = $('#Address').val();
                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    dataType: 'json',
                    url: '/Admin/Admin/SearchAddress',
                    data: '{searchTerm:"' + address + '"}',
                    success: function (data) {
                        var array = [];
                        var arraywithPlace = [];
                        var dd = JSON.parse(data.data);

                        for (var i = 0; i < dd.predictions.length; i++) {
                            array.push(dd.predictions[i].description);
                            arraywithPlace.push(dd.predictions[i]);
                        }
                        localStorage.setItem("Predictions", JSON.stringify(arraywithPlace));
                        $("#Address").autocomplete({
                            source: array
                        });
                    },
                    error: function (xhr) {
                        alert(xhr.responseText)
                    }
                });
            });

            $('#Address').blur(function () {
                var Predictions = JSON.parse(localStorage.getItem("Predictions") || "[]");
                for (var i = 0; i < Predictions.length; i++) {
                    if ($('#Address').val() == Predictions[i].description) {

                        var PlaceId = Predictions[i].place_id;

                        $.ajax({

                            type: 'POST',
                            contentType: "application/json",
                            dataType: 'json',
                            url: '/Admin/Admin/GetLatLong',
                            data: '{placeId:"' + PlaceId + '"}',
                            success: function (data) {
                                var dd = JSON.parse(data.data);
                                $('#hdLatlong').val(dd.result.geometry.location.lat + "," + dd.result.geometry.location.lng);
                                $('#lblLatLong').text("Latlong: " + dd.result.geometry.location.lat + "," + dd.result.geometry.location.lng);

                            },
                            error: function (data) {

                            }
                        });
                    }
                }
            });
        });


    </script>

}

<div class="bg_color_2" style="background: #14382d url(../img/hero_bg_1.svg) repeat fixed;">
    <div id="hero_register">
        <div class="container margin_120_95">
            <div class="row">
                <div class="col-lg-6">
                    <h2 style="color:white">
                        ARE YOU QUALIFIED DOCTOR!
                    </h2>

                    <div class="box_feat_2">
                        <i class="pe-7s-map-2"></i>
                        <h3>Let patients to Find you!</h3>
                        <p>Increase the number of your patients by being available for them both online and offline. Your practice will increase and patients within your location can easily react out to you..</p>
                    </div>
                    <div class="box_feat_2">
                        <i class="pe-7s-date"></i>
                        <h3>Easly manage Appointments</h3>
                        <p>Manage appointments by keeping a track of them. This feature effectively helps medical professionals to reduce the chaos of their clinics’ waiting area..</p>
                    </div>
                    <div class="box_feat_2">
                        <i class="pe-7s-phone"></i>
                        @*<h3>Instantly via Mobile</h3>*@
                        <p>If you are a medical professional and have just started with your professional life then Medzoid is the best way to pilot your career as it assist you with promotional activities performed under Medzoid’s banner..</p>
                    </div>
                </div>
                <div id="login-2" class="col-lg-6 ml-auto" style="margin-top:-10px">
                    <h1>Please Register to Medzoid!</h1>

                    <form method="post" id="formRegister">
                        <input type="hidden" required id="hidden_dep_id" name="hidden_deptId" value="" />
                        <input type="hidden" name="latlong" id="hdLatlong">
                        <input type="hidden" id="hdUid">
                        <div class="box_form clearfix">
                            <div style="padding:5%">
                                <div class="form-group">
                                    <input type="tel" id="name" name="name" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile" name="mobile" id="mobile">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Area" name="area" id="area">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Address" name="Address" id="Address">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" id="hfSeleted" name="deptId" />
                                    <select class="form-control " id="kt_select2_3" name="deptId" multiple="multiple" style="width:100%">
                                        <optgroup label="Department">
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Fee" name="fee" id="fee">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Experience" name="experience" id="experience">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="About Us" name="AboutUs" id="AboutUs">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Hospital Affiliation" name="HospitalAffiliation" id="HospitalAffiliation">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mci No." name="mci_no" id="mci_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Membership" name="Membership" id="Membership">
                                </div>
                                <div class="form-group">
                                    <select id="ddlOnlineAppointment" name="OnlineAppointment" class="form-control">
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>



                                <div class="form-group">
                                    <input class="btn_1" type="button" id="btnsubmit" value="Register">
                                </div>
                            </div>
                        </div>
                    </form>

                    @*<p class="text-center link_bright">Do not have an account yet? <a href="#0"><strong>Register now!</strong></a></p>*@
                </div>
            </div>

            <!-- /login -->
        </div>
    </div>
</div>

<!--begin::Modal-->
@*<div class="modal fade" id="kt_datetimepicker_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="margin-top:5%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Verify OTP </h5>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>
            <form class="kt-form kt-form--fit kt-form--label-right">

                <div class="modal-body">
                    <div class="form-group row kt-margin-t-20">
                        <label class="col-form-label col-lg-3 col-sm-12">OTP</label>
                        <div class="col-lg-9 col-md-9 col-sm-12">

                            <input class="form-control" type="text" placeholder="OTP" name="otp" autocomplete="off" id="txtOTP">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-brand" data-dismiss="modal">Close</button>
                    <input type="button" class="btn btn-secondary" id="btnVerifyOTP" value="Submit" />
                </div>

            </form>

        </div>
    </div>
</div>*@
<!--end::Modal-->
