
@{
    ViewBag.Title = "TermsAndConditions";
}

<div class="container margin_60_35">
    <div class="row">

        <div class="col-md-12">


            <h2>Terms of use</h2> <br/>
            <p>Medzoid hopes that its users are enjoying the provided services. The below mentions points contain important matter that are requested to be considered or under gone through before proceeding towards making important decisions.</p>
            <p>The following are the terms and conditions that need to stay as an agreement between &ldquo;Medzoid&rdquo; and &ldquo;you&rdquo;( &ldquo;Medzoid&rdquo;, we or &ldquo;us&rdquo;), Medzoid.com ( the &ldquo;Site&rdquo;) and all the related services, websites, applications and mobile application related to Medzoid in which these Terms of use are posted. These Terms of use with the Privacy Policy and other related or required policies forecast or govern your usage of the services provided by Medzoid. You need to except all the Term and conditions mentioned in this agreement and if not agreed with them then you should/ can not further user the provided services whether you are or not a registered member with Medzoid.</p>
            <p>BY ACKNOWLEDGING TO THE TERMS OF USE AND POLICES MENTIONED IN THIS AGREEMENT OR BY USING THE SERVICES AND/ OR BY MAKING AN ACCOUNT WITH MEDZOID YOU DIRECTLY OR INDIRECTLY ACCEPT THE USERS POLICY AND ITS RELATED CONDITIONS.AEWDR44EW IN CASE IF YOU DO NOT AGREE TO ANY OF THE TERMS OR CONDITIONS THEN YOU SHOULD/ CANNOT USE THE SERVICES FURTHER.</p>
            <p>YOU AGREE TO THE FACT THAT ANY DISPUTE BETWEEN YOU AND US WILL BE SORTED BY INDIVIDUAL COMPROMISE AND YOU WILL NOT BE GOING FOR A COLLECTIVE OR LAWSUIT ACTION.</p>
            <p>Please not that if you make an account with Medzoid and allow any individual or an entity to render our services, then we will understand that you are authorizing that person to handle your account/ personal details and thereby &ldquo;he&rdquo; or &ldquo;she&rdquo; will be accepting this agreement on your behalf.</p>
            <p>1.WHAT IS THIS SITE ALL ABOUT</p>
            <p>Some or a portion of services offered by Medzoid are visible to the visitors. But to avail all the services provided by us the visitors need to make an account with Medzoid where in certain personal details or information of the individual will be required to which Medzoid is responsible to use or disclose them which has previously been clearly mentioned in Medzoid&rsquo;s Privacy Policy.</p>
            <p>There are certain information or content that are provided by health care providers like hospitals, clinics, etc. but this does not mean that Medzoid provides any health related advice, solution or treatment but help you to get appointment with the right doctor or health care providers in order to save your time. By information or content we mean certain text, messages, emails, videos, graphics, data, audio or any such piece of information that is provided by the health care providers.</p>
            <p>WE TAKE ALL EXTRA EFFORTS TO MAKE SURE THAT THE CONTENT THAT IS DELIVERED TO YOU IS ACCURATE BUT MEDZOID DOES NOT TAKE ANY GUARANTY OF THE COST OF THE SERVICES, CERTIFICATES OR QUALIFICATION, QUALITY OF WORK ETC RENDERED BY THE SERVICE PROVIDERS.</p>
            <p>2.WE ARE NOT MEDICAL ADVISERS</p>
            <p>There will be certain piece of information that will be provided to you by Medzoid, or its partners, sponsors, advisers, employees or advertisers or it may be from the services provided by us in terms of booking online appointments or making payments. All the health related information that you will be receiving through Medzoid in the form of blogs, links, articles or even messages, will be only for information and nothing more than that.</p>
            <p>WE HOPE THAT THE CONTENT THAT MEDZOID PROVIDES YOU IN THE FOR OF BLOGS, ARTICLES OR IN ANY OTHER TO HAVE A BETTER UNDERSTANDING OF THINGS. WHERE IN WE ADVICE YOU NOT TO PERFORM ANY ACTIVITY ON THE BASIS OF THE PROVIDED CONTENT AND REQUEST TO GO FOR PROFESSIONAL ADVICE. IF YOU ARE OR FACE ANY MEDICAL EMERGENCY THEN CALL HEALTH CARE PROVIDERS. THE USE OR EXERCISE OF ACTIVITY ON THE BASIS OF THE OBTAINED CONTENT IS COMPLETELY YOUR RESPONSIBILITY.</p>
            <p>3. NO RELATIONSHIP BETWEEN THE PATIENT AND DOCTOR</p>
            <p>Medzoid helps you seek online appointment and services but we are not responsible if the appointment is not made or it is cancelled due to any circumstances or if the appointment is not made at any particular time. During this process if any emergency or injury occurs then Medzoid will not be responsible for it.</p>
            <p>4. AUTHORIZE TO SHARE LOCATION WITH HEALTH CARE PROVIDERS</p>
            <p>We take proper measures to verify all the listed health care provides depending on their geographical location and their specialization or certification. The data of health care providers that we collect is on a general basis there by there may me such providers listed with Medzoid that may at some point of time had been involved in any unprofessional conduct.</p>
            <p>THE HEALTH CARE PROVIDER THAT YOU WILL CHOOSE IS COMPLETELY YOUR CHOICE. YOU MAY CHOOSE THEM DEPENDING ON THEIR GEOGRAPHICAL LOCATION AND OTHER DETAILS. THE PROVIDERS THAT YOU CHOOSE MAY IMPACT YOUR HEALTH CARE.</p>
            <p>5. CONTENT AND SERVICES PROVIDED ARE FOR INFORMATION PURPOSE</p>
            <p>The services that are renders by Medzoid are just for the reference of you and the health care professionals or providers. We publish all the related content once its has personally been edited by our expertise writing and editing team. We do not have any involvement of third part content making it sure that the content or matter provided to you is accurate.</p>
            <p>6. PERSONAL DATA OR DETAILS</p>
            <p>Protecting your personal details is our primary goal. Our Privacy Policy shows that how we collect and use your personal details which you have willingly share with us and have permitted us on the use of your name, contact details, address, medical records, medical need, prescribed medications, geographic location, billing details and other such information.</p>
            <p>7.ACCOUNT PRIVACY</p>
            <p>On creating an account with Medzoid you will be make an email id and creating its password. Medzoid advises you to keep this respective email id and password safely and do not share it with some one else. In-case your id or password is stole by some one then you are advised to immediately report it by sending an email to us. Where as you can also avail our services through third party services, allowing us to use your personal details as given under the third party services.</p>
            <p>8.SERVICE CHANGE</p>
            <p>Medzoid has all rights to change, edit or discontinues its services at any point of time. We can also add new or updated features to the listed services to improve your experience. Thereby we will not be responsible of any discontinuation of services and that new features or services are added will be falling under this agreement.</p>
            <p>9.OTHER WEBSITES</p>
            <p>When you will be dealing on our site you may encounter other website links. These links are provided to you for your convenience and Medzoid does not endorse them. There by we are not responsible for the products, services, their accuracy and anything related to such links.</p>
            <p>10. SUBMIT FEEDBACK<br />Medzoid allows you to submit your feedback, share with other users your experiences with the health care providers or doctors you visited. We advice you to responsibly post will giving a feedback to any health care provider. The feedback content that you will be sharing should abide by the terms and polices of Medzoid and there by we hold all legal rights to check your given content at any point of time.</p>
            <p>11. CONTENT OWNERSHIP</p>
            <p>The posts and content that is available is all owned by Medzoid. We have all copyrights on them and you can not use or share them with any third party without our consent. The content that has been provided to you is just for your personal use. You can download the information but you cannot sell or copy them. <br /> <br />12. DISCLAIMER</p>
            <p>We have created Medzoid to assist you with better health care services and are continuously trying to improve it. But we are not responsible as to who may use the site, how will you be using the content or our services, what impact will our provided content will have on you or how you will be reacting to the content. Medzoid thereby makes no suggestions for the services that are offered though our site. There by we uphold no special relation with you. We are not responsible for any virus or bug that may harm your system.</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>